# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: e50fac255f114e862b375931c1aa59bdeb7bbb1344228d332c289c9598642081a213e58dbf30b93dfba58ac79f84f2a450e1389a753f0d08faa09128105ef741

test:
  secret_key_base: d27ffafb1dbd527dd74ea5990f8ce3df5980ebcbfff427a2ecaa51cdd093f1d4343dba1bad4502cd8749c444286a714c750e51103654c76468f3fb8f95e0ec17

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
