<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">Alerts</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
        <li class="breadcrumb-item active">Alerts</li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">
    <div class="row">
      <!--Default Alerts-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Default Alerts<span class="card-subtitle">These are the default bootstrap alerts style</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-success alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"><span class="mdi mdi-check"></span></div>
              <div class="message"><strong>Good!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-primary alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"><span class="mdi mdi-info-outline"></span></div>
              <div class="message"><strong>Info!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-warning alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
              <div class="message"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-danger alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"> <span class="mdi mdi-close-circle-o"></span></div>
              <div class="message"><strong>Danger!</strong> Better check yourself, you're not looking too good.</div>
            </div>
          </div>
        </div>
      </div>
      <!--Contrast Alerts-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Contrasts Alerts<span class="card-subtitle">Alerts with icon contrast background</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-contrast alert-success alert-dismissible">
              <div class="icon"><span class="mdi mdi-check"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Good!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-contrast alert-primary alert-dismissible">
              <div class="icon"><span class="mdi mdi-info-outline"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Info!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-contrast alert-warning alert-dismissible">
              <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Warning!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-contrast alert-danger alert-dismissible">
              <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Danger!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Icon alert-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Icon Alerts<span class="card-subtitle">Alerts with icon color background and white body</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-success alert-icon alert-dismissible">
              <div class="icon"><span class="mdi mdi-check"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Good!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-primary alert-icon alert-dismissible">
              <div class="icon"><span class="mdi mdi-info-outline"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Info!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-warning alert-icon alert-dismissible">
              <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Warning!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-danger alert-icon alert-dismissible">
              <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Danger!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Icon alert border colored-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Border Color<span class="card-subtitle">Alerts with icon colored background and border</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-success alert-icon alert-icon-border alert-dismissible">
              <div class="icon"><span class="mdi mdi-check"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Good!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-primary alert-icon alert-icon-border alert-dismissible">
              <div class="icon"><span class="mdi mdi-info-outline"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Info!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-warning alert-icon alert-icon-border alert-dismissible">
              <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Warning!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-danger alert-icon alert-icon-border alert-dismissible">
              <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Danger!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--White alert icon colored-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Icon Colored<span class="card-subtitle">Alerts with colored icon and grey background</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-success alert-icon alert-icon-colored alert-dismissible">
              <div class="icon"><span class="mdi mdi-check"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Good!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-primary alert-icon alert-icon-colored alert-dismissible">
              <div class="icon"><span class="mdi mdi-info-outline"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Info!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-warning alert-icon alert-icon-colored alert-dismissible">
              <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Warning!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
            <div role="alert" class="alert alert-danger alert-icon alert-icon-colored alert-dismissible">
              <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
              <div class="message">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Danger!</strong> Better check yourself, you're not looking too good.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Alert Simple-->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Basic Alerts<span class="card-subtitle">Alerts with colored icon and white body</span></div>
          <div class="card-body">
            <div role="alert" class="alert alert-success alert-simple alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"> <span class="mdi mdi-check"></span></div>
              <div class="message"><strong>Good!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-primary alert-simple alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"> <span class="mdi mdi-info-outline"></span></div>
              <div class="message"><strong>info!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-warning alert-simple alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"> <span class="mdi mdi-alert-triangle"></span></div>
              <div class="message"><strong>warning!</strong> Better check yourself, you're not looking too good.</div>
            </div>
            <div role="alert" class="alert alert-danger alert-simple alert-dismissible">
              <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button>
              <div class="icon"> <span class="mdi mdi-close-circle-o"></span></div>
              <div class="message"><strong>Danger!</strong> Better check yourself, you're not looking too good.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>