<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">Buttons</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
        <li class="breadcrumb-item active">Buttons</li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Basic Buttons<span class="card-subtitle">Default bootstrap buttons style</span></div>
          <div class="card-body mt-3 text-center">
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary">Default</button>
              <button class="btn btn-space btn-primary">Primary</button>
              <button class="btn btn-space btn-danger">Danger</button>
              <button class="btn btn-space btn-warning">Warning</button>
              <button class="btn btn-space btn-success">Success</button>
            </p>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary hover">Default</button>
              <button class="btn btn-space btn-primary hover">Primary</button>
              <button class="btn btn-space btn-danger hover">Danger</button>
              <button class="btn btn-space btn-warning hover">Warning</button>
              <button class="btn btn-space btn-success hover">Success</button>
            </p>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary active">Default</button>
              <button class="btn btn-space btn-primary active">Primary</button>
              <button class="btn btn-space btn-danger active">Danger</button>
              <button class="btn btn-space btn-warning active">Warning</button>
              <button class="btn btn-space btn-success active">Success</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Button Icons<span class="card-subtitle">Default bootstrap buttons with icons</span></div>
          <div class="card-body mt-3 text-center">
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary"><i class="icon icon-left mdi mdi-globe"></i> Default</button>
              <button class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i> Primary</button>
              <button class="btn btn-space btn-danger"><i class="icon icon-left mdi mdi-alert-circle"></i> Danger</button>
              <button class="btn btn-space btn-warning"><i class="icon icon-left mdi mdi-alert-triangle"></i> Warning</button>
              <button class="btn btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i> Success</button>
            </p>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary hover"> <i class="icon icon-left mdi mdi-globe"></i> Default</button>
              <button class="btn btn-space btn-primary hover"><i class="icon icon-left mdi mdi-cloud-done"></i> Primary</button>
              <button class="btn btn-space btn-danger hover"><i class="icon icon-left mdi mdi-alert-circle"></i> Danger</button>
              <button class="btn btn-space btn-warning hover"><i class="icon icon-left mdi mdi-alert-triangle"></i> Warning</button>
              <button class="btn btn-space btn-success hover"><i class="icon icon-left mdi mdi-check"></i> Success</button>
            </p>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary active"> <i class="icon icon-left mdi mdi-globe"></i> Default</button>
              <button class="btn btn-space btn-primary active"><i class="icon icon-left mdi mdi-cloud-done"></i> Primary</button>
              <button class="btn btn-space btn-danger active"><i class="icon icon-left mdi mdi-alert-circle"></i> Danger</button>
              <button class="btn btn-space btn-warning active"><i class="icon icon-left mdi mdi-alert-triangle"></i> Warning</button>
              <button class="btn btn-space btn-success active"><i class="icon icon-left mdi mdi-check"></i> Success</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Buttons Size<span class="card-subtitle">Different buttons size scale</span></div>
          <div class="card-body mt-3">
            <h4>Standard</h4>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary btn-xs">Extra Small</button>
              <button class="btn btn-space btn-secondary btn-sm">Small</button>
              <button class="btn btn-space btn-secondary">Default</button>
              <button class="btn btn-space btn-secondary btn-lg">Large</button>
              <button class="btn btn-space btn-secondary btn-xl">Extra Large</button>
            </p>
            <h4 class="mt-4">With Icons</h4>
            <p class="mt-2 mb-2">
              <button class="btn btn-space btn-primary btn-xs"> <i class="icon icon-left mdi mdi-cloud-done"></i> Extra Small</button>
              <button class="btn btn-space btn-primary btn-sm"><i class="icon icon-left mdi mdi-cloud-done"></i> Small</button>
              <button class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i> Default</button>
              <button class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-cloud-done"></i> Large</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Buttons Rounded<span class="card-subtitle">Buttons with rounded corners style</span></div>
          <div class="card-body mt-3">
            <h4>Standard</h4>
            <p class="mt-2 mb-2">
              <button class="btn btn-rounded btn-space btn-secondary">Default</button>
              <button class="btn btn-rounded btn-space btn-primary">Primary</button>
              <button class="btn btn-rounded btn-space btn-danger">Danger</button>
              <button class="btn btn-rounded btn-space btn-warning">Warning</button>
              <button class="btn btn-rounded btn-space btn-success">Success</button>
            </p>
            <h4 class="mt-6">With Icons</h4>
            <p class="mt-2 mb-2">
              <button class="btn btn-rounded btn-space btn-secondary"><i class="icon icon-left mdi mdi-globe"></i> Default</button>
              <button class="btn btn-rounded btn-space btn-primary"><i class="icon icon-left mdi mdi-cloud-done"></i> Primary</button>
              <button class="btn btn-rounded btn-space btn-danger"><i class="icon icon-left mdi mdi-alert-circle"></i> Danger</button>
              <button class="btn btn-rounded btn-space btn-warning"><i class="icon icon-left mdi mdi-alert-triangle"></i> Warning</button>
              <button class="btn btn-rounded btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i> Success</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Buttons Groups<span class="card-subtitle">These are the different buttons group component</span></div>
          <div class="card-body mt-3">
            <h4>Standard</h4>
            <div class="mt-4 mb-6">
              <div class="btn-toolbar">
                <div class="btn-group btn-space mr-2">
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-email"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-cloud-outline"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-mood"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-favorite-outline"></i></button>
                </div>
                <div class="btn-group btn-space mr-2">
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-mic"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-card-giftcard"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-portable-wifi-changes"></i></button>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-globe-alt"></i></button>
                  <button type="button" class="btn btn-secondary"><i class="icon mdi mdi-settings"></i></button>
                </div>
              </div>
            </div>
            <h4 class="mt-6">Default groups</h4>
            <div class="mt-4 mb-2">
              <div class="btn-toolbar">
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary">Left</button>
                  <button type="button" class="btn btn-secondary">Mid</button>
                  <button type="button" class="btn btn-secondary">Right</button>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-primary">Left</button>
                  <button type="button" class="btn btn-primary">Mid</button>
                  <button type="button" class="btn btn-primary">Right</button>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-danger">Left</button>
                  <button type="button" class="btn btn-danger">Mid</button>
                  <button type="button" class="btn btn-danger">Right</button>
                </div>
              </div>
            </div>
            <h4 class="mt-5">Justified button</h4>
            <div class="mt-4 mb-2">
              <div class="btn-toolbar">
                <div role="group" class="btn-group btn-group-justified mb-2"><a href="#" class="btn btn-secondary">Home</a><a href="#" class="btn btn-secondary">Gallery</a><a href="#" class="btn btn-secondary">Services</a><a href="#" class="btn btn-secondary">Contact</a><a href="#" class="btn btn-secondary">Support</a><a href="#" class="btn btn-secondary">Help</a></div>
                <div role="group" class="btn-group btn-group-justified btn-space"><a href="#" class="btn btn-primary">Home</a><a href="#" class="btn btn-primary">Gallery</a><a href="#" class="btn btn-primary">Services</a><a href="#" class="btn btn-primary">Contact</a><a href="#" class="btn btn-primary">Support</a><a href="#" class="btn btn-primary">Help</a></div>
              </div>
            </div>
            <h4 class="mt-6">Vertical groups</h4>
            <div class="mt-4 mb-2">
              <div class="btn-toolbar">
                <div role="group" class="btn-group-vertical btn-space mr-2"><a href="#" class="btn btn-secondary">Top</a><a href="#" class="btn btn-secondary">Middle</a><a href="#" class="btn btn-secondary">Bottom</a></div>
                <div role="group" class="btn-group-vertical btn-space mr-2"><a href="#" class="btn btn-primary">Top</a><a href="#" class="btn btn-primary">Middle</a><a href="#" class="btn btn-primary">Bottom</a></div>
                <div role="group" class="btn-group-vertical btn-space mr-2"><a href="#" class="btn btn-danger">Top</a><a href="#" class="btn btn-danger">Middle</a><a href="#" class="btn btn-danger">Bottom</a></div>
                <div role="group" class="btn-group-vertical btn-space mr-2"><a href="#" class="btn btn-warning">Top</a><a href="#" class="btn btn-warning">Middle</a><a href="#" class="btn btn-warning">Bottom</a></div>
                <div role="group" class="btn-group-vertical btn-space mr-2"><a href="#" class="btn btn-success">Top</a><a href="#" class="btn btn-success">Middle</a><a href="#" class="btn btn-success">Bottom</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-divider">Big Buttons<span class="card-subtitle">Buttons with a vertical distribution and big size</span></div>
          <div class="card-body">
            <div class="mt-2 mb-2">
              <button class="btn btn-space btn-secondary btn-big"><i class="icon mdi mdi-home"></i> Home </button>
              <button class="btn btn-space btn-secondary btn-big"><i class="icon mdi mdi-face"></i> UI </button>
              <button class="btn btn-space btn-secondary btn-big"><i class="icon mdi mdi-inbox"></i> Email </button>
              <button class="btn btn-space btn-secondary btn-big"><i class="icon mdi mdi-pin"></i> Maps </button>
            </div>
            <div class="mt-2 mb-2">
              <button class="btn btn-space btn-primary btn-big"><i class="icon mdi mdi-home"></i> Home </button>
              <button class="btn btn-space btn-danger btn-big"><i class="icon mdi mdi-face"></i> UI </button>
              <button class="btn btn-space btn-warning btn-big"><i class="icon mdi mdi-inbox"></i> Email </button>
              <button class="btn btn-space btn-success btn-big"><i class="icon mdi mdi-pin"></i> Maps</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-header-divider">Buttons Dropdowns<span class="card-subtitle">These are the different dropdowns styles with buttons</span></div>
          <div class="card-body mt-3">
            <h4>Basic dropdown</h4>
            <div class="mt-4 mb-5">
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">Default <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Primary <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Danger <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Warning <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Success <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            </div>
            <div class="mt-4 mb-5">
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><i class="icon icon-left mdi mdi-globe"></i> Icon <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="icon icon-left mdi mdi-cloud-done"></i> Icon <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><i class="icon icon-left mdi mdi-alert-circle"></i> Icon <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><i class="icon icon-left mdi mdi-alert-triangle"></i> Icon <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="icon icon-left mdi mdi-check"></i> Icon <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            </div>
            <h4>Split state dropdown</h4>
            <div class="mt-4 mb-6">
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-secondary">Default</button>
                <button type="button" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="mt-4 mb-6">
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary">Primary</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary">Danger</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary">Warning</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <div class="btn-group btn-space">
                  <button type="button" class="btn btn-secondary">Success</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="mdi mdi-chevron-down"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-divider">Social Buttons<span class="card-subtitle">These are the social buttons color styles</span></div>
          <div class="card-body">
            <div class="mt-2 mb-2">
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-facebook"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-google-plus"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-twitter"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-dribbble"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-dropbox"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-evernote"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-youtube-play"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-pinterest"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-github-alt"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social"><i class="icon mdi mdi-tumblr"></i></button>
            </div>
            <div class="mt-2 mb-2">
              <button type="button" class="btn btn-space btn-secondary btn-social btn-facebook"><i class="icon mdi mdi-facebook"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-google-plus"><i class="icon mdi mdi-google-plus"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-twitter"><i class="icon mdi mdi-twitter"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-dribbble"><i class="icon mdi mdi-dribbble"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-dropbox"><i class="icon mdi mdi-dropbox"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-evernote"><i class="icon mdi mdi-evernote"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-youtube"><i class="icon mdi mdi-youtube-play"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-pinterest"><i class="icon mdi mdi-pinterest"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-github"><i class="icon mdi mdi-github-alt"></i></button>
              <button type="button" class="btn btn-space btn-secondary btn-social btn-tumblr"><i class="icon mdi mdi-tumblr"></i></button>
            </div>
            <div class="mt-2 mb-2">
              <button type="button" class="btn btn-space btn-social btn-color btn-facebook"><i class="icon mdi mdi-facebook"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-google-plus"><i class="icon mdi mdi-google-plus"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-twitter"><i class="icon mdi mdi-twitter"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-dribbble"><i class="icon mdi mdi-dribbble"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-dropbox"><i class="icon mdi mdi-dropbox"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-evernote"><i class="icon mdi mdi-evernote"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-youtube"><i class="icon mdi mdi-youtube-play"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-pinterest"><i class="icon mdi mdi-pinterest"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-github"><i class="icon mdi mdi-github-alt"></i></button>
              <button type="button" class="btn btn-space btn-social btn-color btn-tumblr"><i class="icon mdi mdi-tumblr"></i></button>
            </div>
            <div class="mt-2">
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-color btn-social btn-facebook"><i class="icon mdi mdi-facebook"></i></button>
                <button type="button" class="btn btn-secondary">Like</button>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-color btn-social btn-twitter"><i class="icon mdi mdi-twitter"></i></button>
                <button type="button" class="btn btn-secondary">Follow Me</button>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-color btn-social btn-google-plus"><i class="icon mdi mdi-google-plus"></i></button>
                <button type="button" class="btn btn-secondary">Plus One</button>
              </div>
              <div class="btn-group btn-space">
                <button type="button" class="btn btn-color btn-social btn-github"><i class="icon mdi mdi-github-alt"></i></button>
                <button type="button" class="btn btn-secondary">Fork</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>