<div class="be-content" id="general">
  <div class="page-head">
    <h2 class="page-head-title">UI General</h2>
    <p class="page-head-description">In this page you'll find some of the general bootstrap elements</p>
  </div>
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-12">
        <!--Dropdowns-->
        <div class="card">
          <div class="card-header card-header-divider">Dropdowns<span class="card-subtitle">These are the default bootstrap dropdowns components</span></div>
          <div class="card-body">
            <h4 class="mb-4">Basic dropdown</h4>
            <div class="row dropdown-showcase">
              <!--Basic Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
              <!--Primary Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-primary"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
              <!--Danger Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-danger"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
              <!--Warning Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-warning"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
              <!--Success Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-success"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-6 mb-4">Dropdown with icons</h4>
            <div class="row dropdown-showcase">
              <!--Basic Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu"><a href="#" class="dropdown-item"><span class="icon mdi mdi-account"></span>Action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-settings"></span>Another action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-help-outline"></span>Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><span class="icon mdi mdi-power"></span>Separated link</a>
                  </div>
                </div>
              </div>
              <!--Primary Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-primary"><a href="#" class="dropdown-item"><span class="icon mdi mdi-account"></span>Action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-settings"></span>Another action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-help-outline"></span>Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><span class="icon mdi mdi-power"></span>Separated link</a>
                  </div>
                </div>
              </div>
              <!--Danger Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-danger"><a href="#" class="dropdown-item"><span class="icon mdi mdi-account"></span>Action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-settings"></span>Another action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-help-outline"></span>Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><span class="icon mdi mdi-power"></span>Separated link</a>
                  </div>
                </div>
              </div>
              <!--Warning Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-warning"><a href="#" class="dropdown-item"><span class="icon mdi mdi-account"></span>Action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-settings"></span>Another action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-help-outline"></span>Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><span class="icon mdi mdi-power"></span>Separated link</a>
                  </div>
                </div>
              </div>
              <!--Success Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-success"><a href="#" class="dropdown-item"><span class="icon mdi mdi-account"></span>Action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-settings"></span>Another action</a><a href="#" class="dropdown-item"><span class="icon mdi mdi-help-outline"></span>Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><span class="icon mdi mdi-power"></span>Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-6 mb-5">Complex dropdown</h4>
            <div class="row dropdown-showcase">
              <!--Basic Complex Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    <div class="dropdown-tools">
                      <div class="btn-group mt-1 mb-2">
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary"><span class="mdi mdi-globe-alt"></span></button>
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary active"><span class="mdi mdi-settings"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Primary Complex Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-primary"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    <div class="dropdown-tools">
                      <div class="btn-group mt-1 mb-2">
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary"><span class="mdi mdi-globe-alt"></span></button>
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary active"><span class="mdi mdi-settings"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Danger Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-danger"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    <div class="dropdown-tools">
                      <div class="btn-group mt-1 mb-2">
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary"><span class="mdi mdi-globe-alt"></span></button>
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-danger active"><span class="mdi mdi-settings"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Warning Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-warning"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    <div class="dropdown-tools">
                      <div class="btn-group mt-1 mb-2">
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary"><span class="mdi mdi-globe-alt"></span></button>
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-warning active"><span class="mdi mdi-settings"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Success Dropdown-->
              <div class="showcase">
                <div class="dropdown">
                  <div style="display: block; position: relative;" class="dropdown-menu dropdown-menu-success"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                    <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    <div class="dropdown-tools">
                      <div class="btn-group mt-1 mb-2">
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-secondary"><span class="mdi mdi-globe-alt"></span></button>
                        <button data-toggle="modal" data-target="#mod-warning" type="button" class="btn btn-success active"><span class="mdi mdi-settings"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <!--Breadcrumbs-->
        <div class="card">
          <div class="card-header card-header-divider">Breadcrumbs<span class="card-subtitle">Default bootstrap breadcrumbs component</span></div>
          <div class="card-body">
            <!--Default Breadcrumbs-->
            <h4 class="mb-4">Default</h4>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
              </ol>
            </nav>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Menu</li>
              </ol>
            </nav>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Menu</a></li>
                <li class="breadcrumb-item active">Menu</li>
              </ol>
            </nav>
            <!--Icon Breadcrumbs-->
            <h4 class="mb-4">With icon</h4>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><span class="icon mdi mdi-home"></span></li>
              </ol>
            </nav>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"> <span class="icon mdi mdi-home"></span></a></li>
                <li class="breadcrumb-item active">Menu</li>
              </ol>
            </nav>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><span class="icon mdi mdi-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Menu</a></li>
                <li class="breadcrumb-item active">Menu</li>
              </ol>
            </nav>
          </div>
        </div>
        <!--Tooltips-->
        <div class="card">
          <div class="card-header card-header-divider">Tooltips<span class="card-subtitle">Default bootstrap tooltip component</span></div>
          <div class="card-body">
            <p class="mb-6">This is just an example of tooltip in a paragraph content written by <a data-toggle="tooltip" href="#" data-original-title="Default tooltip">Author</a>. You can set the tooltip position easily with<a data-toggle="tooltip" href="#" data-original-title="I am a Tooltip">Tooltip</a> options.</p>
            <p class="mb-2 text-center">
              <button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left" class="btn btn-secondary btn-space">Tooltip on left</button>
              <button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="btn btn-secondary btn-space">Tooltip on top</button>
              <button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" class="btn btn-secondary btn-space">Tooltip on bottom</button>
              <button type="button" data-toggle="tooltip" data-placement="right" data-container="body" title="Tooltip on right" class="btn btn-secondary btn-space">Tooltip on right</button>
            </p>
          </div>
        </div>
        <!--Pagination-->
        <div class="card">
          <div class="card-header"><span class="card-title">Pagination</span></div>
          <div class="card-body">
            <!--Default Breadcrumbs-->
            <h4 class="mt-3 mb-7">Square</h4>
            <nav>
              <ul class="pagination">
                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true" class="mdi mdi-chevron-left"></span></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item active"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true" class="mdi mdi-chevron-right"></span></a></li>
              </ul>
            </nav>
            <h4 class="mt-7 mb-7">Circle</h4>
            <nav class="mb-4">
              <ul class="pagination pagination-rounded">
                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true" class="mdi mdi-more"></span></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item active"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true" class="mdi mdi-more"></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!--List Group-->
        <div class="card">
          <div class="card-header card-header-divider">List Group<span class="card-subtitle">Default bootstrap navbar list component</span></div>
          <div class="card-body">
            <div class="mt-2 mb-4">
              <div class="list-group d-flex"><a href="#" class="list-group-item d-flex list-group-item-action"><span class="text-primary mdi mdi-fire icon"></span><span class="text">Cras justo odio</span><span class="badge badge-pill badge-primary">26</span></a><a href="#" class="list-group-item d-flex list-group-item-action active"><span class="text-success mdi mdi-puzzle-piece icon"></span><span class="text">Dapibus ac facilisis in</span><span class="badge badge-pill badge-primary">2</span></a><a href="#" class="list-group-item d-flex list-group-item-action"><span class="text-warning mdi mdi-settings icon"></span><span class="text">Morbi leo risus</span></a><a href="#" class="list-group-item d-flex list-group-item-action"><span class="text-primary mdi mdi-palette icon"></span><span class="text">Porta ac consectetur ac</span></a><a href="#" class="list-group-item d-flex list-group-item-action disabled"><span class="text-danger mdi mdi-pizza icon"></span><span class="text">Vestibulum at eros</span><span class="badge badge-pill badge-danger">3</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!--Labels & badges-->
        <div class="card">
          <div class="card-header card-header-divider">Badges<span class="card-subtitle">Extended version of bootstrap badges style</span></div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th style="width:40%;">Type</th>
                <th class="text-center">Badge</th>
                <th class="text-center">Badge Pill</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Default</td>
                <td class="text-center"><span class="badge badge-secondary">Default</span></td>
                <td class="text-center"><span class="badge badge-pill badge-secondary">26</span></td>
              </tr>
              <tr>
                <td>Primary</td>
                <td class="text-center"><span class="badge badge-primary">Primary</span></td>
                <td class="text-center"><span class="badge badge-pill badge-primary">8</span></td>
              </tr>
              <tr>
                <td>Success</td>
                <td class="text-center"><span class="badge badge-success">Success</span></td>
                <td class="text-center"><span class="badge badge-pill badge-success">2</span></td>
              </tr>
              <tr>
                <td>Warning</td>
                <td class="text-center"><span class="badge badge-warning">Warning</span></td>
                <td class="text-center"><span class="badge badge-pill badge-warning">7</span></td>
              </tr>
              <tr>
                <td>Danger</td>
                <td class="text-center"><span class="badge badge-danger">Danger</span></td>
                <td class="text-center"><span class="badge badge-pill badge-danger">3</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Popovers-->
        <div class="card">
          <div class="card-header card-header-divider">Popovers<span class="card-subtitle">Default bootstrap popover component style</span></div>
          <div class="card-body">
            <div class="mb-6">
              <p>This is just an example of popover use in a paragraph content without a title written by <a href="javascript:;" data-toggle="popover" data-content="This is a popover without a title!" data-placement="top">Author</a>, also you can set a popover trigger on hover event like <a href="javascript:;" data-toggle="popover" data-trigger="hover" title="Popover on hover" data-content="This is a popover with a title!" data-placement="top">this</a> popover.</p>
            </div>
            <p class="mb-2 text-center">
              <button type="button" title="Popover on top" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-secondary btn-space">Popover on top</button>
              <button type="button" title="Popover on bottom" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-secondary btn-space">Popover on bottom</button>
              <button type="button" title="Popover on left" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-secondary btn-space">Popover on left</button>
              <button type="button" title="Popover on right" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-secondary btn-space">Popover on right</button>
            </p>
          </div>
        </div>
        <!--Images-->
        <div class="card">
          <div class="card-header card-header-divider">Images<span class="card-subtitle">These are the different images classes</span></div>
          <div class="card-body">
            <div class="mt-3 mb-3">
              <div class="text-center"><img src="assets/img/140x140.png" alt="Placeholder" class="rounded mr-2 mb-2"><img src="assets/img/140x140.png" alt="Placeholder" class="rounded-circle mr-2 mb-2"><img src="assets/img/140x140.png" alt="Placeholder" class="img-thumbnail"></div>
            </div>
          </div>
        </div>
        <!--Progress bars-->
        <div class="card">
          <div class="card-header card-header-divider">Progress Bars<span class="card-subtitle">Default bootstrap progress bar component</span></div>
          <div class="card-body">
            <div class="mt-3 mb-2">
              <div class="progress mb-4">
                <div role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary">Simple 40%</div>
              </div>
              <div class="progress mb-4">
                <div role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary progress-bar-striped">Striped 60%</div>
              </div>
              <div class="progress mb-4">
                <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary progress-bar-striped progress-bar-animated">Animated 70%</div>
              </div>
              <div class="progress mb-4">
                <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary progress-bar-striped">Stacked</div>
                <div role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success progress-bar-striped">20%</div>
                <div role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-warning progress-bar-striped">25%</div>
                <div role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-danger progress-bar-striped">10%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>