<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">Tabs & Accordions</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
        <li class="breadcrumb-item active">Tabs & Accordions</li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">
    <!--Tabs-->
    <div class="row">
      <!--Default Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Default Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs">
              <li class="nav-item"><a href="#home" data-toggle="tab" role="tab" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="#profile" data-toggle="tab" role="tab" class="nav-link">Profile</a></li>
              <li class="nav-item"><a href="#messages" data-toggle="tab" role="tab" class="nav-link">Messages</a></li>
            </ul>
            <div class="tab-content">
              <div id="home" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Success Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Success Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs nav-tabs-success">
              <li class="nav-item"><a href="#home1" data-toggle="tab" role="tab" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="#profile1" data-toggle="tab" role="tab" class="nav-link">Profile</a></li>
              <li class="nav-item"><a href="#messages1" data-toggle="tab" role="tab" class="nav-link">Messages</a></li>
            </ul>
            <div class="tab-content">
              <div id="home1" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile1" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages1" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Warning Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Warning Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs nav-tabs-warning">
              <li class="nav-item"><a href="#home2" data-toggle="tab" role="tab" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="#profile2" data-toggle="tab" role="tab" class="nav-link">Profile</a></li>
              <li class="nav-item"><a href="#messages2" data-toggle="tab" role="tab" class="nav-link">Messages</a></li>
            </ul>
            <div class="tab-content">
              <div id="home2" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile2" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages2" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Success Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Danger Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs nav-tabs-danger">
              <li class="nav-item"><a href="#home3" data-toggle="tab" role="tab" class="nav-link active">Home</a></li>
              <li class="nav-item"><a href="#profile3" data-toggle="tab" role="tab" class="nav-link">Profile</a></li>
              <li class="nav-item"><a href="#messages3" data-toggle="tab" role="tab" class="nav-link">Messages</a></li>
            </ul>
            <div class="tab-content">
              <div id="home3" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile3" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages3" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Warning Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Icon Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs">
              <li class="nav-item"><a href="#home4" data-toggle="tab" role="tab" class="nav-link active"><span class="icon mdi mdi-home"></span></a></li>
              <li class="nav-item"><a href="#profile4" data-toggle="tab" role="tab" class="nav-link"><span class="icon mdi mdi-face"></span></a></li>
              <li class="nav-item"><a href="#messages4" data-toggle="tab" role="tab" class="nav-link"><span class="icon mdi mdi-email"></span></a></li>
              <li class="nav-item"><a href="#settings4" data-toggle="tab" role="tab" class="nav-link"><span class="icon mdi mdi-settings"></span></a></li>
            </ul>
            <div class="tab-content">
              <div id="home4" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile4" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages4" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more </a>
              </div>
              <div id="settings4" role="tabpanel" class="tab-pane cont">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Success Tabs-->
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">Icon Text Tabs</div>
          <div class="tab-container">
            <ul role="tablist" class="nav nav-tabs">
              <li class="nav-item"><a href="#home5" data-toggle="tab" role="tab" class="nav-link active"><span class="icon mdi mdi-home"></span>Home</a></li>
              <li class="nav-item"><a href="#profile5" data-toggle="tab" role="tab" class="nav-link"><span class="icon mdi mdi-face"></span>Profile</a></li>
              <li class="nav-item"><a href="#messages5" data-toggle="tab" role="tab" class="nav-link"><span class="icon mdi mdi-email"></span>Messages</a></li>
            </ul>
            <div class="tab-content">
              <div id="home5" role="tabpanel" class="tab-pane active">
                <h4>Top Tabs</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
              </div>
              <div id="profile5" role="tabpanel" class="tab-pane">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
              </div>
              <div id="messages5" role="tabpanel" class="tab-pane">
                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Accordions-->
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="accordion" class="accordion">
          <div class="card">
            <div id="headingOne" class="card-header">
              <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn"><i class="icon mdi mdi-chevron-right"></i> Basic accordion</button>
            </div>
            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus. </div>
            </div>
          </div>
          <div class="card">
            <div id="headingTwo" class="card-header">
              <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapsetwo" class="btn"><i class="icon mdi mdi-chevron-right"></i> Collapsible Group Item #2</button>
            </div>
            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus. </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree" class="card-header">
              <button data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn"><i class="icon mdi mdi-chevron-right"></i> Collapsible Group Item #3</button>
            </div>
            <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus. </div>
            </div>
          </div>
          <div class="card">
            <div id="headingFour" role="tab" class="card-header">
              <button data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="btn"><i class="icon mdi mdi-chevron-right"></i> Collapsible Group Item #4</button>
            </div>
            <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div id="accordion2" class="accordion accordion-color">
          <div class="card card-full-primary">
            <div id="headingOne2" class="card-header">
              <button data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" class="btn"><i class="icon mdi mdi-chevron-right"></i> Primary Color</button>
            </div>
            <div id="collapseOne2" aria-labelledby="headingOne2" data-parent="#accordion2" class="collapse show">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus. </div>
            </div>
          </div>
          <div class="card card-full-success">
            <div id="headingTwo2" class="card-header">
              <button data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapsetwo2" class="btn"><i class="icon mdi mdi-chevron-right"></i> Success Color</button>
            </div>
            <div id="collapseTwo2" aria-labelledby="headingTwo2" data-parent="#accordion2" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus. </div>
            </div>
          </div>
          <div class="card card-full-warning">
            <div class="card-header">
              <div id="headingThree2" role="tab" class="card-header"></div>
              <button data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2" class="btn"><i class="icon mdi mdi-chevron-right"></i> Warning Color</button>
            </div>
            <div id="collapseThree2" aria-labelledby="headingThree2" data-parent="#accordion2" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus.</div>
            </div>
          </div>
          <div class="card card-full-danger">
            <div id="headingFour2" role="tab" class="card-header">
              <button data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2" class="btn"><i class="icon mdi mdi-chevron-right"></i> Danger Color</button>
            </div>
            <div id="collapseFour2" aria-labelledby="headingFour2" data-parent="#accordion2" class="collapse">
              <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed vestibulum quam. Pellentesque non feugiat neque, non volutpat orci. Integer ligula lacus, ornare eget lobortis ut, molestie quis risus.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>